streamlit
google-api-python-client
google-auth
google-auth-oauthlib
sentence-transformers
transformers
pytesseract
pdf2image
Pillow
python-docx
faiss-cpu
PyPDF2
os
pickle
PyPDF2
PIL
docx
csv
io
googleapiclient.http
numpy
